Repository FIRE-STARS-Development/Saltype, pull requests merged in 2025-01, with the labels that each got.

#75 Release/production
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: enhancement

#81 Release/production
  frontend/tests/components/molecules/home/ColorCustomizer.spec.ts
  frontend/tests/components/molecules/home/MenuCard.spec.ts
  frontend/tests/components/molecules/user/admin/ConfirmModal.spec.ts
  frontend/tests/components/molecules/user/admin/PaginatedUserList.spec.ts
  frontend/tests/components/organisms/user/admin/UserAdminCard.spec.ts
  frontend/tests/components/organisms/user/admin/UserAdminHeader.spec.ts
  frontend/tests/components/organisms/user/setting/UserSettingCard.spec.ts
  frontend/tests/components/organisms/user/setting/UserSettingHeader.spec.ts
  frontend/tests/pages/ranking.spec.ts
  frontend/tests/pages/ranking/[id].spec.ts
  frontend/tests/pages/ranking/index.spec.ts
  frontend/tests/pages/user/admin/index.spec.ts
  frontend/tests/pages/user/setting/index.spec.ts
  integrationTest/evidence/ranking_details/項番1/ランキング画面_20250105_150030.png
  integrationTest/evidence/ranking_details/項番1/ランキング詳細画面_20250105_150030.png
  integrationTest/evidence/ranking_details/項番2/ランキング画面_20250105_150040.png
  integrationTest/evidence/ranking_details/項番2/ランキング詳細画面_20250105_150040.png
  integrationTest/evidence/ranking_details/項番2/戻るボタン押下後_20250105_150040.png
  integrationTest/evidence/user_admin/項番1/ユーザ管理画面_20250105_152006.png
  integrationTest/evidence/user_admin/項番2/ユーザ管理画面_20250105_152016.png
  integrationTest/evidence/user_admin/項番2/戻るボタン押下後_20250105_152016.png
  integrationTest/evidence/user_setting/項番1/ユーザ設定画面_20250105_150552.png
  integrationTest/evidence/user_setting/項番2/ユーザ設定画面_20250105_150602.png
  integrationTest/evidence/user_setting/項番2/戻るボタン押下後_20250105_150602.png
  integrationTest/src/ranking_details/test.py
  integrationTest/src/user_admin/test.py
  integrationTest/src/user_setting/test.py
Labels: test

#118 Fix/layout
  docker-compose.prod.yml
  frontend/app.vue
  frontend/assets/styles/global.scss
  frontend/assets/styles/variables.scss
  frontend/components/molecules/analyze/TypoFrequencyCard.vue
  frontend/components/molecules/common/BaseCard.vue
  frontend/components/molecules/common/BaseHeader.vue
  frontend/components/molecules/contact/ContactForm.vue
  frontend/components/molecules/home/GameSettingCard.vue
  frontend/components/molecules/home/MenuCard.vue
  frontend/components/molecules/ranking/BaseRankingCard.vue
  frontend/components/molecules/score/RankingCard.vue
  frontend/components/molecules/score/RetryCard.vue
  frontend/components/molecules/user/admin/PaginatedUserList.vue
  frontend/components/molecules/user/setting/UpdatePassword.vue
  frontend/components/molecules/user/setting/UpdateUserName.vue
  frontend/components/organisms/analyze/AnalyzeCard.vue
  frontend/components/organisms/login/GoogleAuth.vue
  frontend/components/organisms/login/LoginForm.vue
  frontend/components/organisms/user/admin/UserAdminCard.vue
  frontend/components/organisms/user/setting/UserSettingCard.vue
  frontend/composables/auth/useAuthToken.ts
  frontend/composables/contact/useContact.ts
  frontend/composables/ranking/useRanking.ts
  frontend/composables/typing/japanese/useInputPattern.ts
  frontend/composables/typing/japanese/useSentencePattern.ts
  frontend/composables/typing/useTyping.ts
  frontend/composables/user/admin/useAdmin.ts
  frontend/composables/user/setting/useSetting.ts
  frontend/composables/user/useUser.ts
  frontend/middleware/redirect.global.ts
  frontend/nuxt.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/login.vue
  frontend/pages/ranking/index.vue
  frontend/pages/user/admin/index.vue
  frontend/plugins/01-auth.ts
  frontend/server/data/japanese/hard.json
  frontend/tsconfig.json
  nginx/default.conf
Labels: bug, nuxt

#122 Feature/terms and privacy
  frontend/app.vue
  frontend/components/atoms/buttons/Button.vue
  frontend/components/atoms/imgs/Icon.vue
  frontend/components/atoms/imgs/Image.vue
  frontend/components/atoms/inputs/Input.vue
  frontend/components/atoms/texts/Text.vue
  frontend/components/atoms/ui/Separator.vue
  frontend/components/molecules/common/BaseCard.vue
  frontend/components/molecules/common/ui/CookieConsent.vue
  frontend/components/molecules/user/admin/PaginatedUserList.vue
  frontend/components/organisms/login/LoginHeader.vue
  frontend/composables/auth/useLogin.ts
  frontend/composables/auth/useLogout.ts
  frontend/composables/legal/useLegal.ts
  frontend/composables/typing/japanese/useInputPattern.ts
  frontend/layouts/default.vue
  frontend/layouts/policy.vue
  frontend/nuxt.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/analyze.vue
  frontend/pages/contact.vue
  frontend/pages/cookiepolicy.vue
  frontend/pages/home.vue
  frontend/pages/index.vue
  frontend/pages/login.vue
  frontend/pages/privacypolicy.vue
  frontend/pages/ranking/[id].vue
  frontend/pages/ranking/index.vue
  frontend/pages/score.vue
  frontend/pages/terms.vue
  frontend/pages/typing/[id].vue
  frontend/pages/user/admin/index.vue
  frontend/pages/user/setting/index.vue
  frontend/public/saltype-pwa-192x192.png
  frontend/public/saltype-pwa-512x512.png
  frontend/types/legal.ts
Labels: bug, enhancement, nuxt

#126 ユーザービューをリファクタリング
  backend/apps/authentication/base_view.py
  backend/apps/authentication/views.py
  backend/apps/score/base_view.py
  backend/apps/user/base_view.py
  backend/apps/user/serializers.py
  backend/apps/user/views.py
Labels: bug, django

#127 認証ビューとコンタクト・ビューをリファクタリング
  backend/apps/authentication/base_view.py
  backend/apps/authentication/views.py
  backend/apps/common/views.py
  backend/apps/contact/base_view.py
  backend/apps/contact/email.py
  backend/apps/contact/views.py
  backend/apps/score/base_view.py
  backend/apps/user/base_view.py
Labels: bug, django
